<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vida Leve</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="assets/logovl.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poiret+One&display=swap" rel="stylesheet">
</head>

 <header class="nav-container">
  <img src="assets/logovl.png" alt="logovl" class="logovl">
    <nav>
      <ul class="nav-links">
          <li>Home</li>
          <li>Serviços</li>
          <li>Valores</li>
          <li>Sobre nós</li>
      </ul>
    </nav>
  </header>

  <div class="apresentacao-home">
    <h2><b>Vida Leve</b></h2>
    <h3><b>Seu bem-estar começa aqui!</b>
      <br>
          Na Vida Leve Saúde, você agenda consultas médicas de forma rápida, segura e sem complicações. 
      <br>
          Encontre especialistas de diversas áreas, escolha o melhor horário e tenha o cuidado que você merece, no seu tempo e do seu jeito.
          Estamos aqui para facilitar a sua saúde.</h3>
  </div>

  <div class="botao-agendamento">
    <button>Agende aqui</button>
  </div>

  <div class="carousel">
    <button id="prev" class="carousel-arrow">&#10094;</button>
    <button id="next" class="carousel-arrow">&#10095;</button>
    
    <div class="carousel-image slide1 active"></div>
    <div class="carousel-image slide2"></div>
    <div class="carousel-image slide3"></div>
    
  </div>



  <script src="script.js"></script>
</body>
</html>
