<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vida Leve</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="assets/logovl.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poiret+One&display=swap" rel="stylesheet">
</head>

 <header class="nav-container">
  <img src="assets/logovl.png" alt="logovl" class="logovl">
    <nav>
      <ul class="nav-links">
          <li>Home</li>
          <li>Serviços</li>
          <li>Valores</li>
          <li>Sobre nós</li>
      </ul>
    </nav>
  </header>
    
  <div class="apresentacao-home">
      <div class="bem-estar"> <h2> <b>Seu bem-estar, 
        <br>começa aqui!</b> </h2> </div>
      <br>
    
      <div class="consulta-estar"><h3>Agende consultas com especialistas de forma rápida, segura e no seu tempo!</h3></div>
  </div>

  <div class="botao-agendamento">
    <button class="botao-agendamento">Agende aqui</button>
  </div>

  <div class="backgroundhome">
    <div class="imgback">
      <img src="assets/Background2.jpg" alt="background">
    </div>
  </div>

  <div>
    <section class="servicos">
      <img src="assets/background-serv.jpg" alt="servicos">
    </section>
  <div>


  <script src="script.js"></script>
</body>
</html>
