#login-template {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* altura da tela */
  overflow: hidden; /* evita rolagem */
  z-index: -1;
}

#login-template img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* garante que a imagem preencha o espaço sem distorcer */
}


.form-control {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
  font-family: Outfit, sans-serif;
  user-select: none;
}

form.form-control {
  position: absolute;
  top: 48%;
  left: 72%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 28px;
  font-weight: 800;
}

.input-field {
  position: relative;
  width: 100%;
}

.input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #ecedec;
  background: transparent;
  padding-left: 10px;
}
.input:focus {
  border: 1.5px solid #22b1a2;
}
.input-field .label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.input-field .input:focus ~ .label,
.input-field .input:valid ~ .label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #1c9288;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}
.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(180deg, #22b1a2 0%, #1fa093 50%, #1b8a7f 100%);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #22b1a2;
}


#fala-login{
  font-family: Outfit, sans-serif;
  font-size: 1.8em;
  margin-left: 30em;
  margin-top: 2em;
  color: #2ea398;
  justify-content: center;
  display: flex;
}