<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vida Leve</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='assets/logovl.png') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poiret+One&display=swap" rel="stylesheet" />
</head>

<body>
  <header class="nav-container">
    <img src="{{ url_for('static', filename='assets/new-logo.png') }}" alt="logovl" class="logovl" />
    <nav>
      <ul class="nav-links">
        <li> <a href="#inicio">Início</a> </li>
        <li> <a href="#servicos">Serviços</a> </li>
        <li> <a href="#valores">Valores</a> </li>
        <li> <a href="#sobre-nos">Sobre nós</a></li>
      </ul>
    </nav>
  </header>

<div class="img-inicio">
  <img src="{{ url_for('static', filename='assets/back-home.jpg') }}" alt="">

  <div class="ass-medica">
    <h2>Assistência Médica</h2>
    <p>O jeito moderno de marcar consultas. Com a ClinAgende 
      <br> você agenda seus atendimentos médicos em poucos cliques 
      <br> sem filas, sem complicação — direto do seu celular ou computador.</p>
  </div>

  <button>
    <span>Agendar</span>
  </button>

</div>



  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
