<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Data</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.nome }}</td>
                <td>{{ agendamento.categoria }}</td>
                <td>{{ agendamento.data }}</td>
                <td>{{ agendamento.hora }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>